/* ===GLOBAL */

html {
  font-size: 16px;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* ===GENERELL=== */

section {
  height: 100vh;
}

h1 {
  margin: 0;
}

footer {
  height: 50px;
  background-color: #4a5759;
  color: #edf6f9;
}

/* 
#edafb8
#f7e1d7
#dedbd2
#b0c4b1
#4a5759
#edf6f9 
*/

/* ===NAVIGATION-BAR=== */
#header-nav {
  width: 100%;
  height: 50px;
  background-color: #4a5759;
  position: relative;
}

#header-nav h1 {
  margin: 0;
  color: #edf6f9;
  padding-top: 0.5rem;
  float: left;
}

#header-nav .col-6 {
  padding: 0;
}

#desktop-nav {
  width: 97%;
}

#header-nav ul {
  margin: 0;
  padding: 0;
  float: right;
  height: 100%;
}

#header-nav ul > li {
  display: inline-block;
  height: 100%;
  padding: 0.5rem;
}

#header-nav ul > li > a {
  margin-top: 0.5rem;
  display: inline-block;
  color: #edf6f9;
}

/* ===ABOUT-ME=== */
#about-me-section {
  background-color: #f7e1d7;
}

.svgContainer{
  display: inline-block;
}

svg{
  width: auto;
  height: 200px;
}

#about-container {
  margin-top: 3rem;
  padding-left: 3rem;
}

#about-container > h1 {
  font-size: 3rem;
}

#about-container > a:link {
  text-decoration: none;
  color: #4a5759;
  font-size: 1.3rem;
}

#about-container > a:active {
  text-decoration: none;
  color: #4a5759;
  font-size: 1.3rem;
}

#about-container > a:visited {
  text-decoration: none;
  color: #4a5759;
  font-size: 1.3rem;
}

#about-container > a:hover {
  text-decoration: none;
  color: #4a5759;
  font-weight: bold;
  font-size: 1.3rem;
}

#img-container {
  width: 300px;
  height: 400px;
  padding: 2rem 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
  background-color: #edf6f9;
  border-radius: 4%;
  display: block;
}

#about-me-section img {
  height: 250px;
  width: auto;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4%;
}

#img-container > h1 {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

#img-container > p {
  padding-left: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* ===SKILLS-SECTION===*/

#skills-section {
  background-color: #dedbd2;
}

#skills-section > h1 {
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
  color: #4a5759;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.skills img {
  width: 100px;
  height: 100px;
  margin-top: 2rem;
}

.skills {
  text-align: center;
  background-color: #fefefe;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
}

.grow {
  transition: all 0.2s ease-in-out;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.grow:hover {
  transform: scale(1.1);
}

/* ===Projects Section=== */

#project-Section {
  background-color: #b0c4b1;
}

#project-Section > h1 {
  text-align: center;
  padding-top: 1rem;
  font-size: 3rem;
  color: #4a5759;
}

#projectsGrid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  padding-top: 3rem;
  gap: 3rem;
}

#projectsGrid > div {
  background-color: #4a5759;
  border-radius: 10px;
  width: 400px;
  height: 250px;
}

/*===GRID_SYSTEM===*/

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 0.8rem;
}

.col-1 {
  width: 16.666%;
}
.col-2 {
  width: 33.333%;
}
.col-3 {
  width: 50%;
}
.col-6 {
  width: 100%;
}
.col-4 {
  width: 66.666%;
}

@media (max-width: 1024px) {
  .col-1 {
    width: 33.333%;
  }
}

@media (max-width: 768px) {
  .col-1 {
    width: 50%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
}
