/* ===GLOBAL */

html {
  font-size: 16px;
  width: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* ===GENERELL=== */

section {
  height: 100vh;
  position: relative;
}

h1 {
  margin: 0;
}

footer {
  height: 50px;
  background-color: #ccc1ff;
  color: #553c8b;
  font-weight: bold;
  font-size: 20px;
  padding-top: 15px;
  padding-left: 15px;
}

/* footer{

} */

.grow {
  transition: all 0.2s ease-in-out;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.grow:hover {
  transform: scale(1.1);
}

/* Colores
#553C8B
#9EA9F0
#CCC1FF
#FFEAFE
*/

/* ===NAVIGATION-BAR=== */
#header-nav {
  width: 100%;
  height: 50px;
  background-color: #ccc1ff;
  position: relative;
}

#header-nav h1 {
  margin: 0;
  color: #553c8b;
  padding-top: 0.7rem;
  float: left;
  font-weight: bold;
}

#header-nav img {
  height: 50px;
  width: auto;
  float: left;
  scale: 1.2;
}

#header-nav .col-6 {
  padding: 0;
}

#desktop-nav {
  width: 97%;
}

#header-nav ul {
  margin: 0;
  padding: 0;
  float: right;
  height: 100%;
}

#header-nav ul > li {
  display: inline-block;
  height: 100%;
  padding: 0.5rem;
}

#header-nav ul > li > a {
  margin-top: 0.5rem;
  display: inline-block;
  color: #553c8b;
}

@media (max-width: 423px) {
  #header-nav ul {
    display: none;
  }
}

/* ===ABOUT-ME=== */
#about-me-section {
  background-color: #553c8b;
  display: flex;
}

.svgContainer {
  display: inline-block;
  width: 50%;
  height: 600px;
}

.svgContainer svg {
  width: 100%;
  height: 600px;
}

#about-container {
  margin-top: 3rem;
  padding-left: 3rem;
}

#about-container > h1 {
  font-size: 3rem;
}

#img-container {
  width: 650px;
  height: 430px;
  padding: 2rem 0;
  background-color: #ffeafe;
  border-radius: 4%;
  margin-right: 2rem;
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.9;
}

#img-container #left {
  width: 50%;
  margin-left: 20px;
}

#img-container #left p {
  font-size: 25px;
  line-height: 1.3;
}

#img-container #right a {
  text-decoration: none;
}

#img-container #right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#img-container #right img {
  margin-bottom: 20px;
  filter: drop-shadow(3px 3px 3px #553c8b);
}

@media (max-width: 1133px) {
  .svgContainer {
    display: none;
  }

  #lightSwitch {
    display: none;
  }

  #img-container {
    margin: 0;
  }

  #about-me-section {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 720px) {
  #img-container {
    width: 550px;
    height: 330px;
  }
}

@media (max-width: 590px) {
  #img-container {
    width: 500px;
    height: 300px;
  }
}

@media (max-width: 530px) {
  #img-container {
    width: 260px;
    height: 450px;
  }
}

/* @media (max-width: 1403px) {
  #img-container {
    display: none;
  }
} */

#about-me-section img {
  height: 250px;
  width: auto;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4%;
}

#img-container > h1 {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

#img-container > p {
  padding-left: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#about-container > a:link {
  text-decoration: none;
  color: #553c8b;
  font-size: 1.3rem;
}

#about-container > a:active {
  text-decoration: none;
  color: #553c8b;
  font-size: 1.3rem;
}

#about-container > a:visited {
  text-decoration: none;
  color: #553c8b;
  font-size: 1.3rem;
}

#about-container > a:hover {
  text-decoration: none;
  color: #553c8b;
  font-weight: bold;
  font-size: 1.3rem;
}

.wave {
  width: 100%;
  margin: 0;
  padding: 0;
}

.wave svg {
  width: 100%;
  margin: 0;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(118% + 1.3px);
  height: 160px;
}

.wave .waveLight {
  fill: #ccc1ff;
}

.wave .waveDark {
  fill: #553c8b;
}

/* ===SKILLS-SECTION===*/

#skills-section {
  background-color: #ccc1ff;
}

#skills-section > h1 {
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
  color: #553c8b;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 4rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1080px) {
  .grid-container {
    grid-template-columns: auto auto auto auto;
  }
  #skills-section {
    height: 135vh;
  }
}

@media (max-width: 860px) {
  .grid-container {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 624px) {
  .grid-container {
    grid-template-columns: auto auto;
  }

  #skills-section {
    height: 200vh;
  }
}

@media (max-width: 400px) {
  .grid-container {
    grid-template-columns: auto;
  }
}

.skills img {
  width: 100px;
  height: auto;
  margin-top: 2rem;
}

#PostgreSQL {
  height: 80px;
}

.skills {
  text-align: center;
  background-color: #ffeafe;
  border-radius: 10px;
  width: 150px;
  height: 200px;
  background-color: transparent;
  box-shadow: none;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.skills:hover .flipper {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
}

.front {
  background-color: #ffeafe;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.front > p {
  position: relative;
  bottom: 0;
  font-size: 20px;
}

.back {
  background-color: #ffeafe;
  transform: rotateY(180deg);
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-between;
}

.back h1 {
  margin-top: 20px;
}

.back p {
  font-size: 35px;
}

/* ===Projects Section=== */

#project-Section {
  background-color: #553c8b;
}

#project-Section > h1 {
  text-align: center;
  padding-top: 1.5rem;
  font-size: 3rem;
  color: #ccc1ff;
  margin-bottom: 20px;
}

#projectsGrid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  padding-top: 3rem;
  gap: 3rem;
}
@media (max-width: 860px) {
  #projectsGrid {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  #projectsGrid > div:not(:nth-child(-n + 2)) {
    display: none;
  }
}

#projectsGrid div {
  background-color: #ffeafe;
  border-radius: 10px;
  width: 600px;
  height: 400px;
}

#kochbuch {
  background-image: url(../img/Kochbuch.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#SIM {
  background-image: url(../img/SIM.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
